.timer-component {
  background: #ffffff15;
  padding: 3.9375rem 2.625rem 1.875rem 2.625rem;
  width: 100%;
  h1 {
    font-size: 5rem;
    @include media-breakpoint-up (xl) {
      font-size: 6rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 5rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
  }

  button {
    max-width: 9.6875rem;
    width: 100%;
  }
}
