.timer-component {
  background: #ffffff15;
  padding: 3.9375rem 2.625rem 1.875rem 2.625rem;
  width: 100%;
  h1 {
    font-size: 5rem;

    @include media-breakpoint-down(md) {
      font-size: 4rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
  }

  button, button:active, button:hover, button:focus {
    max-width: 9.6875rem;
    width: 100%;
  }

  button:disabled {
    background-color: var(--bs-white);
    color: $primary;
  }
}
