.timer-component {
  background: #ffffff15;
  padding: 3.9375rem 2.625rem 1.875rem 2.625rem;
  max-width: 22.5625rem;
  width: 100%;
  h1 {
    font-size: 6rem;
  }

  button {
    max-width: 9.6875rem;
    width: 100%;
  }
}
