@use "sass:map";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

body {
  background-color: $primary;
}

// BUTTONS
.btn-primary {
  background-color: $white;
  color: $primary;
  &:hover, &:active {
    background-color: $white;
    color: $primary;
  }
}
.btn-light {
  background-color: $white;
  color: map.get($colors, "gray");
}

.btn-secondary {
  background-color: shade-color($primary, 20%);
  color: $white;
  border: 2px dashed $white;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: shade-color($primary, 30%);
    border: 2px dashed $white;
  }
}

.select {
  cursor: pointer;
  padding: $btn-padding-y $btn-padding-x;
}
.select-primary {
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  &:hover, &:active, &:focus {
    background-color: transparent;
  }
  
}