$black:    #1C1C1C;
$blue:    #2F80ED;
$purple:  #4711E5;
$orange:  #F2994A;
$green:   #27AE60;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       #AEAEAE,
  "gray-dark":  $gray-800
);

$primary: #E76959;
$dark:          $black;
$accent:        $purple;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "accent": $accent
);

$btn-padding-y:               .5rem;
$btn-padding-x:               1rem;

$btn-padding-x-sm:            1rem;
$btn-font-weight:             $font-weight-bold;

$font-family-base:            'Fira Code', monospace;

$form-select-font-weight:     bold;
$form-select-indicator-color: $white;
$form-select-indicator:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");


$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.25;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1;
